.toolbar-statusbar {
    padding: 6px 0;
    height: 32px !important;
}

.disabled-item {
    display: none;
}

.sync-and-trash-container button {
    fill: var(--colorFgFaded);
}

#toggleStatusBarIcon:focus {
    color: var(--colorFgFaded) !important;
    background-color: transparent !important;
}

.apps-chrome-icon svg {
    width: 12px !important;
    height: 12px !important;
    margin: 0 5px -2px 0 !important;
}