.toolbar-statusbar {
    padding: 6px 0;
    height: 32px;
}

.disabled-item {
    display: none;
}

#browser.win.win10.tabs-top #header #titlebar .window-buttongroup button:not(.vivaldi) {
    height: 30px;
}